li {
  list-style: none;
}

.input,
.edit {
  width: 100%;
  height: 60px;
  background-color: #fff;
  border: 2px solid rgb(136, 128, 128, 0.4);
  border-radius: 2px;
  padding: 8px;
}

.input {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.checkbox_wrapper {
  display: flex;
  align-items: center;
}

input[type='checkbox'] {
  width: 19px;
  height: 19px;
  vertical-align: middle;
  cursor: pointer;
}

.title {
  font-size: 24px;
  margin-left: 12px;
}

.completed {
  color: rgb(136, 128, 128, 0.4);
  text-decoration: line-through;
}

.edit {
  padding-left: 40px;
}
