.App {
  font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
  background-color: rgb(246, 245, 245);
  height: 100vh;
}

.header {
  position: relative;
  /* height: 60px; */
}

.title {
  font-size: 80px;
  font-weight: normal;
  color: rgb(234, 201, 201);

  position: absolute;
  left: 50%;
  margin: 20px 0;
}
